In [ ]:
Classification of list datatype 

It is classified into Mutable datatype (which is editable)

how to define list datatype []

In [3]:
students = ['john', 'bikash', 'jacob', 'preety', 'rahul', 'jyoti', 'avinav']

In [4]:
print(students)

['john', 'bikash', 'jacob', 'preety', 'rahul', 'jyoti', 'avinav']

In [5]:
# need to print as per the index

In [7]:
print(students[3])

preety

In [8]:
print(students[6])

avinav

In [9]:
#need to add new student in the list

In [10]:
students.append('harish')

In [11]:
print(students)

['john', 'bikash', 'jacob', 'preety', 'rahul', 'jyoti', 'avinav', 'harish']

In [12]:
#need to place a new student in a specific place

In [13]:
students.insert(0,'jagdish')

In [14]:
print(students)

['jagdish', 'john', 'bikash', 'jacob', 'preety', 'rahul', 'jyoti', 'avinav', 'harish']

In [16]:
print(students.title)

AttributeError: 'list' object has no attribute 'title'

In [17]:
#modify a student name or change a student name

In [18]:
students[1]= 'Ram'

In [19]:
print(students)

['jagdish', 'Ram', 'bikash', 'jacob', 'preety', 'rahul', 'jyoti', 'avinav', 'harish']

In [20]:
##delete a particular name from list datatype

In [22]:
del students[3]

In [23]:
print(students)

['jagdish', 'Ram', 'bikash', 'preety', 'rahul', 'jyoti', 'avinav', 'harish']